.line{
	border: 1px solid;
}

.text {
	font-family: Avenir;
	font-size: 18px;
	line-height: 24.59px;
}

.field-size{
	width: 100%;
	height: 40px;
	top: 190px;
	left: 26px;
	margin-bottom: 20px;
	background-color: #f4f4f4;
	border: 0px;
	border-radius: 10px;
}

.button{
	width: 100%;
	padding: 10px 0px;
	margin-top: 150px;
	background-color: #F88D1C;
	border: 0px;
	border-radius: 10px;
}